<img class="create-background" src="./images/wallpaper.jpg">

<div class="create">
    <div class="container">

        <div class="logo text-center">
            <img src="./images/logo_black.png" width=250>
        </div>

        <div>
            <h1 class="text-dark text-center">Create Account</h1>
        </div>

        <div class="row py-3">
            <div class="col-sm-12 col-md-3"></div>
            <div class="col-sm-12 col-md-6">
                <form >
                    <div class="form-group">
                        <input type="text" class="form-control" id="create-username" aria-describedby="emailHelp"
                            placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="create-email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="create-password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="create-zip" placeholder="Zip Code">
                    </div>
                    <button type="submit" class="btn btn-primary" id="create-submit">Submit</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-3"></div>
        </div>


    </div>
</div>